div {
  cursor: default;
}
.barChart {
  width: 100%;
  height: 100%;
  position: relative;
  overflow-y: auto;
}
.barChart-ordinate {
  position: absolute;
  width: 2px;
  background-color: #333;
  left: 20%;
  height: calc(100% - 4px);
  top: 2px;
}
.barChart-Element {
  margin: 5px;
  min-height: 20px;
}
.barChart-Element-Aligner {
  height: 100%;
  width: 0px;
}
.barChart-Element div {
  display: inline-block;
  vertical-align: middle;
}
.barChart-Element-legend {
  width: 25%;
  text-align: right;
  padding-right: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 13px;
}
.barChart-Element-bar {
  width: 60%;
  font-size: 0px;
  height: 65%;
  min-height: 15px;
  max-height: 45px;
}
.barChart-Element-inner {
  height: 100%;
}
.barChart-Element-inner:hover {
  opacity: 0.65;
  cursor: pointer;
  transform: scale(1, 1.15);
  transition-duration: 250ms;
}
.barChart-Element-innerText {
  padding-left: 4px;
  font-size: 14px;
}
.colorGood {
  color: green;
}
.colorBad {
  color: red;
}

